
.cart {
    .cart-title {
        margin:10px 0;
        font-size:1.3rem;
        font-weight:200;
    }
    a {
        font-weight:400;
    }
    .dropdown-menu {
        width:300px; 
        margin-top:0;
        @media(min-width:@narrow) {
            width:450px;
        }
    }
    li {
        display:block;
        max-width:100%;
        overflow:hidden;
        padding:10px 0;
    }
    
    .cart-items {
        margin-bottom:10px;
        td:first-child {
            width:1%;
            padding-left:0;
            padding-right:0;
        }
        td:last-child {
            padding-right:0;
        }
    }

    .cart-item-title,
    .cart-item-name {
        display:inline-block;
        margin-right:-4px;
        vertical-align:top;
    }
    .cart-item-title {
        width:75%;
    }
    .cart-item-remove {
        cursor:pointer;
        font-weight:400;
        color:@red;
        font-size:1.2rem;
        line-height:1;
    }
    .cart-item-price {
        width:25%;
        font-size:1.2rem;
        display:inline-block;
        text-align:right;
    }
    .cart-total {
        font-size:1.3rem;
        padding:10px 0;
        color:@blue;
    }
    .cart-item-count {
        background: @orange;
        color: #FFF;
        padding: 2px;
        font-size: 1.2rem;
        position: absolute;
        top: 5px;
        line-height: 20px;
        width: 20px;
        box-sizing: content-box;
        border-radius: 20px;
        text-align: center;
        right: 5px;
    }
}