.pagination {
    margin:0 0 10px 0;
    padding:0;
    font-size:0;
    text-align:center;
    li {
        display:none;
        font-size:1rem;
        border:1px solid @greyAccent;
        border-width:1px 0px 1px 1px;
        min-width:35px;
        text-align:center;
        @media(min-width:@narrow) {
            display:inline-block;
        }
        &.is-bookend {
            width:auto;
            display:inline-block;
        }
        &:first-child {
            border-radius:3px 0 0 3px;
        }
        &:last-child {
            border-right-width:1px;
            border-radius:0 3px 3px 0;
        }
        a {
            font-weight:normal;
            padding:8px 10px;
            display:block;
            &.is-current {
                background:@grey;
            }
            &:hover {
                background:lighten(@grey,5%);
            }
        }
    }
}