
.product-view-type {
    text-align:center;
    padding-bottom:10px;
    @media(min-width:@narrow) {
        text-align:left;
        padding-bottom:0;
    }
}

.product-grid,
.product-list {
    padding:0;
    list-style-type:none;
    text-align:left;
    @media(min-width:@wide) {
        margin-top:0;
    }
    figure {
        overflow:hidden;
        margin:0;
        padding:0;
        border:1px solid @greyAccent;
        &.product {
            margin:auto;
            width:100%;
            padding:0;
            overflow:hidden;
            margin-bottom:20px;
            position:relative;
            transition:opacity .3s;
            opacity:1;
            a {
                font-weight:400;
            }
            .product-price {
                cursor:default;
            }
            
            .product-img {
                display:block;
                background:@grey;
                background-size:cover;
                background-position:center center;
            }
        }
    }
}

.product-grid {
    text-align:center;

    .product-cartactions {
        position: absolute;
        right: 0;
        bottom: 100%;
        font-size: 1.2rem;
        opacity:.8;
        right:0;
        transition:opacity .3s, right .3s;
        overflow:hidden;
    }
    .product {
        height:286px;
        max-width:300px;
        display:inline-block;
        vertical-align:top;
        margin-left:-4px;
        &:hover {
            .product-cartactions {
                opacity:1;
                right:0px;
            }
        }
    }

    .product-name {
        font-size:1.1rem;
    }
    figcaption {
        padding:10px;
        text-align:left;
        position:relative;
        
    }
    .product-img {
        width:100%;
        height:200px;
    }
    
    .product-add,
    .product-price {
        background: @blue;
        color: #FFF;
        padding: 10px 12px;
        font-weight: 200;
        float:left;
    }

    .product-add {
        color:#FFF;
        background:fadeout(@blue,20%);
        border-left:1px solid rgba(255,255,255,.5);
        transition:background .3s;
        &:hover {
            background:@blue;
        }
    }
    
    

}

/* only apply hover treatment to products if .no-touch added by modernizr */
.no-touch {
    .product-grid {
        .product-cartactions {
            right:-117px;
        }
        .in-cart {
            .product-cartactions {
                right:-75px;
            }
        }
    }
}

.product-list {
    text-align:left;    
    .product {
        figure {
            margin:0;
            overflow:hidden;
        }
        figcaption {
            padding:20px 30px 20px;
            @media(min-width:@narrow) {
                float:left;
                width:75%;
            }
        }
        .product-img {
            width:100%;
            height:250px;
            @media(min-width:@narrow) {
                width:25%;
                float:left;
            }
        }
        h2 {
            margin-top:0;
            line-height:1;
        }
        .product-name {
            font-size:1.5rem;
            margin-top:0;
        }
        .product-desc {
            line-height:1.5;
            color:@darkGrey;
            margin-top:0;
        }
        .product-price {
            font-size:2rem;
            margin-right:20px;
            font-weight:200;
            color:@blue;
            vertical-align:middle;
        }
    }
}