.btn {
    text-decoration:none;
    -webkit-appearance:none;
    border:1px solid @blue;
    background:lighten(@blue,10%);
    color:#FFF;
    padding:5px 10px;
    opacity:.8;
    transition:opacity .3s;
    display:inline-block;
    font-weight:400;
    border-radius:3px;
    &:hover {
        opacity:1;
        color:#FFF;
    }
    &.btn-neutral {
        background:@grey;
        color:@darkGrey;
        border-color:@greyAccent;
    }
    &.btn-link {
        padding:5px 10px;
    }
    &.btn-large {
        padding:8px 15px;
        font-size:1.2rem;
    }
}