@import "variables.less";


.dropdown {
	position:relative;
	.dropdown-toggle {
		float:right;
		&:focus {
			outline:0;
		}
	}
	.dropdown-menu {
	    position: absolute;
	    top: 100%;
	    right:0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 160px;
	    padding: 5px 0;
	    margin: 0;
	    padding:10px 20px;
	    background:#FFF;
	    border:1px solid @greyAccent;
	}
	&.open {
		.dropdown-menu {
			display:block;
		}
	}
	.dropdown-footer {
		margin:0 -20px -20px;
		padding:10px 20px 20px;
		border-top:1px solid @greyAccent;
	}
}

.collapse {
	position:absolute;
	top:100%;
	overflow:hidden;
	background:#FFF;
	border:1px solid @greyAccent;
}
