.spinner {
    opacity:0;
    position:fixed;
    left:0;
    right:0;
    top:50%;
    margin-top:-20px;
    text-align:center;
    transition:opacity .3s;
    color:@greyAccent;
    z-index:0;
    pointer-events:none;
}

.content-container {
    position:relative;
    &.loading {
        .product {
            opacity:0;
        }
        .spinner {
            opacity:1;
            z-index:2
        }
    }
}