
.form {
    input[type=search],
    input[type=text] {
        border:1px solid @greyAccent;
        padding:5px 10px;
        margin:0;
        transition:border .3s;
        -webkit-appearance: none; 
        border-radius: 0;
        
        &:focus {
            outline:0;
            border-color:darken(@greyAccent,20%);
        }
    }
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    input[type=search],
    input[type=text] {
        display:table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        &:first-child {
            border-radius: 3px 0 0 3px;
        }
    }
    .input-append {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display:table-cell;
        border-radius:0 3px 3px 0;
    }
}