@import "variables.less";

.container {
	margin:auto;
	width:100%;
	max-width:@wide;
}

.row {
	@media(min-width:@wide) {
		margin-left:-15px;
		margin-right:-15px;
	}
	[class*=col-] {
		width:100%;
		padding-left:15px;
		padding-right:15px;
		@media(min-width:@narrow) {
			float:left;
		}
	}
	.generate-columns(@gridCount);

}





.generate-columns(@n, @i: 1) when (@i =< @n) {
  .col-@{i} {
  	@media(min-width:@narrow) {
    	width: (@i * 100% / @n);
  	}
  }
  .generate-columns(@n, (@i + 1));
}