.cf:before,
.cf:after,
.row:before,
.row:after {
    content: " "; 
    display: table;
}

.cf:after,
.row:after{
    clear: both;
}

.cf, 
.row{
    *zoom: 1;
}


.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.text-left {
	text-align:left;
}
.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.list-inline {
	font-size:0;
	display:inline-block;
	vertical-align:top;
	padding:0;
	li {
		display:inline-block;
		font-size:1rem;
	}
}

.list-unstyled {
	margin:0;
	padding:0;
	list-style-type:none;
}
.truncate {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.is-hidden {
	display:none !important;
}

.sm-show {
	@media(min-width:@narrow) {
		display:none !important;
	}
}

.no-ko .ko-cloak {
    display:none !important;
}