*,
:before,
:after {
    box-sizing:border-box;
}

body,
html{
    height:100%;
    font:13px "Helvetica neue",helvetica,arial,sans-serif;
    -webkit-font-smoothing:antialiased;
}
body {
    background:#FFF;
    overflow:auto;
}
.page-wrapper {
    min-height:100%;
    position:relative;
}
#header {
    background:@blue;
    height:60px;

    .dropdown-toggle {
        height: 60px;
        padding: 10px 20px;
        border-radius:0;
    }
}

#main {
    padding-bottom:80px;
}

#footer {
    background:@grey;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}