#branding {
    font-size: 2rem;
    line-height:58px;
    color: #FFF;
    font-weight: 100;
    vertical-align: middle;
    padding:0 5px;
    display: inline-block;
    opacity:.7;
    transition:opacity .3s, background .3s;
    @media(min-width:@narrow) {
        font-size:3rem;
        padding:0 15px;
        margin-left:-15px;
    }
    strong {
        font-weight:300;
    }
    &:hover {
        opacity:1;
        background:darken(@blue,3%);
    }
}

.primary-nav  {
    display:inline-block;
    &.dropdown {
        button {
            background:transparent;
        }
    }
    a {
        line-height:60px;
        vertical-align:top;
        color:#FFF;
        font-size:1.2rem;
        font-weight:200;
        padding:10px;
        opacity:.5;
        transition:opacity .3s;
        @media(min-width:@normal) {
            padding:10px 20px;
            font-size:1.8rem;
        }
        &.is-current {
            opacity:1;
        }
        &:hover {
            opacity:.7;
        }
    }
    ul:last-child {
        display:none;
        @media(min-width:(@narrow)) {
            display:inline-block;
        }
    }

    li {
        vertical-align:top;
    }
    .mobile-nav {
        padding:0;
        @media(min-width:@narrow) {
            //display:none;
        }
    }
    .mobile-nav a {
        padding:5px 10px;
        font-size:1.5rem;
        line-height:1.6;
        color:@blue;
        display:block;
        &:hover {
            background:@grey;
        }
    }
}

.subnav {
    padding:20px;
    margin-bottom:20px;
    background:@grey;
    .fa {
        color:@greyAccent;
        transition:color .3s;
        &:hover {
            color:@darkGrey;
        }
    }
    .product-view-type {
        margin-top:5px;
        li {
            border-right:1px solid @greyAccent;
            &:last-child {
                border-right-width:0;
            }
        }
        a {
            padding:0 10px;
            &.is-active {
                color:@darkGrey;
            }
        }
    }
    .product-search {
        input[type=search] {
            font-size:1.3rem;
            color:@darkGrey;
        }
        .btn {
            font-size:1.3rem;
            font-weight:200;
        }
    }
}