h2 {
    color:@blue;
    font-size:2rem;
    font-weight:200;
    small {
        font-size:.5em;
        color:@darkGrey;
        font-weight:200;
    }
}
a {
    color:@blue;
    font-weight:bold;
    text-decoration:none;
    &:hover {
        color:lighten(@blue,10%);
    }
    &.is-disabled {
        pointer-events:none;
        cursor:default;
        opacity:.7;
    }
}